<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Place:</strong>
  <%= @event.place %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>

<table border="0" width="200" height="50">
  <tr>
    <td>
<% if current_user %>
    Bewertung: <%= rating_for @event, 'score', :disable_after_rate => false, :cancel => false%>
<% end %>
    </td>
  </tr>
</table>

<%= render partial: "comments/comments", locals: {commentable: @event} %>
<%= render partial: "comments/form", locals: {commentable: @event} %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
