<%= form_for(@discothek) do |f| %>
  <% if @discothek.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discothek.errors.count, "error") %> prohibited this discothek from being saved:</h2>

      <ul>
      <% @discothek.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :place %><br>
    <%= f.text_area :place %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
