<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @discothek.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @discothek.description %>
</p>

<p>
  <strong>Place:</strong>
  <%= @discothek.place %>
</p>

<p>
  <strong>Address:</strong>
  <%= @discothek.address %>
</p>

<%= render partial: "comments/comments", locals: {commentable: @discothek} %>
<%= render partial: "comments/form", locals: {commentable: @discothek} %>

<%= link_to 'Edit', edit_discothek_path(@discothek) %> |
<%= link_to 'Back', discotheks_path %>
