<p id="notice"><%= notice %></p>

<div class="well">
<p>
  <strong>Title:</strong>
  <%= @discothek.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @discothek.description %>
</p>

<p>
  <strong>Place:</strong>
  <%= @discothek.place %>
</p>

<p>
  <strong>Address:</strong>
  <%= @discothek.address %>
</p>
</div>
<div class="well">
<table border="0" width="200" height="50">
  <tr>
    <td>
      <% if current_user %>
          <strong>Bewertung:</strong> <%= rating_for @discothek, 'score', :disable_after_rate => false, :cancel => false%>
      <% end %>
    </td>
  </tr>
</table>
</div>
<br>
<%= render partial: "comments/comments", locals: {commentable: @discothek} %>
<%= render partial: "comments/form", locals: {commentable: @discothek} %>

<%= link_to 'Edit', edit_discothek_path(@discothek) %> |
<%= link_to 'Back', discotheks_path %>
