<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="SuffAdvisor">
  <meta name="auhtor" content="Dominik,Niklas,Josua">

  <title>SuffAdvisor</title>
  <%= stylesheet_link_tag 'bootstrap.css' %>
  <%= stylesheet_link_tag 'bootstrap-theme.css' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'bootstrap.min.css' %>
  <%= stylesheet_link_tag 'simple-sidebar.css' %>
  <%= javascript_include_tag 'bootstrap.js' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.js' %>
  <%= javascript_include_tag 'bootstrap.min.js' %>
  <%= javascript_include_tag 'jquery.raty.js' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/pages/home"><b>SuffAdvisor</b></a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
            <li><a href="#menu-toggle" class="navbar-link" id="menu-toggle">Menü</a></li>
        <% else %>
            <li><a href="#menu-toggle" class="navbar-link" id="menu-toggle">Menü</a></li>
        <% end %>
      </ul>
      <p class="navbar-text pull-right">
        <% if user_signed_in? %>
            <%= current_user.email %></li>  |
            <%= link_to "Profil", edit_user_registration_path, :class => 'navbar-link' %>  |
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
        <% else %>
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %>  |
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %>
        <% end %>
    </div>
  </div>
</nav>

<div id="wrapper" class="toggled">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <br>
      <li>
        <a href="/events">Events</a>
      </li>
      <li>
        <a href="/pubs">Pub's</a>
      </li>
      <li>
        <a href="/discotheks">Discotheken</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Services</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">

          <div class="container">
            <% if notice %>
                <p class="alert alert-success"><%= notice %></p>
            <% end %>
            <% if alert %>
                <p class="alert alert-danger"><%= alert %></p>
            <% end %>
            <%= yield %>
          </div>



        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>



<footer>
</footer>

</body>
</html>
